/* ----------- ABOUT PAGE  ------------- */

/* ----------- ABOUT & VALUES ------------- */

#about-section {
    padding: 8em 10em 0em;
}

#values-section {
    padding: 0em 10em 0em;
}

#about-section,
#values-section {
    display: flex;
    justify-content: center;
    gap: 4em;
}

#align-text-about-section,
#align-text-values-section {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

#align-text-values-section {
    text-align: right;
}

#me-at-craft-fair,
#me-and-the-chickies {
    max-width: 600px;
    max-height: 600px;
    min-width: 600px;
    min-height: 600px;
    object-fit: cover;
}

#me-at-craft-fair {
    transform: translateX(30%);
    border-radius: 4px 0 0 4px;
}

#me-and-the-chickies {
    transform: translateX(-40%);
    border-radius: 0 4px 4px 0;
}

#values-section-mobile {
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 3em;
}

@media (min-width: 131em) {
    #align-text-about-section,
    #align-text-values-section {
        max-width: 516px;
    }
    #me-at-craft-fair,
    #me-and-the-chickies {
        max-width: 500px;
        max-height: 700px;
        min-width: 500px;
        min-height: 700px;
        transform: none;
        border-radius: 4px;
        object-fit: cover;
    }
}

@media (min-width: 100em) {
    #me-at-craft-fair,
    #me-and-the-chickies {
        transform: none;
        border-radius: 4px;
    }
    #about-section {
        padding: 8em 20em 0em;
    }
    #values-section {
        gap: 8em;
        padding: 0em 20em 0em;
    }
}
@media (max-width: 78em) {
    #about-section {
        padding: 8em 3em 0em;
    }
    #values-section {
        padding: 0em 3em 0em;
        gap: 1em;
    }
    #me-at-craft-fair,
    #me-and-the-chickies {
        max-width: 400px;
        max-height: 500px;
        min-width: 400px;
        min-height: 500px;
    }
    #me-at-craft-fair {
        transform: translateX(10%);
    }
    #me-and-the-chickies {
        transform: translateX(-20%);
    }
}
@media (max-width: 57em) {
    #me-at-craft-fair,
    #me-and-the-chickies {
        max-width: 800px;
        max-height: 800px;
        min-width: 800px;
        min-height: 800px;
        transform: none;
        align-self: center;
        object-fit: contain;
        border-radius: 4px;
    }
    #about-section {
        flex-direction: column;
        text-align: center;
    }
    #values-section {
        display: none;
    }
    #values-section-mobile {
        display: flex;
    }
}

/* ----------- STARS ------------- */

.star-center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8em 0 8em;
}

/* ----------- LETS CONNECT SECTION ------------- */

#lets-connect-about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-bottom: 10em;
}

#button-container {
    display: flex;
    gap: 5em;
}

@media (max-width: 57em) {
    #button-container {
        flex-direction: column;
        gap: 2em;
    }
    #contact-button-about-page,
    #cv-button-about-page {
        min-width: 450px;
    }
}
@media (max-width: 29em) {
    #button-container {
        flex-direction: column;
        gap: 2em;
    }
    #contact-button-about-page,
    #cv-button-about-page {
        min-width: 400px;
    }
}
