/* ----------- CONTACT PAGE  ------------- */

#name {
    margin: 8em 0 10em;
    padding: 2em 10em 2em;
    background-color: var(--clr-mid-purple);
}

#cv-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
    padding: 0 10em 10em;
    max-width: 1868px;
}

/* .about-block-size {
    max-width: 571px;
} */

#skills-organize-lists {
    display: flex;
    gap: 3em;
}

#list-1,
#list-2 {
    padding: 0;
}

@media (min-width: 102em) {
    #cv-grid,
    #name {
        padding-left: 35em;
    }
}
@media (max-width: 65em) {
    #cv-grid,
    #name {
        padding-right: 3em;
        padding-left: 3em;
    }
}
@media (max-width: 50em) {
    #cv-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    #name,
    #cv-grid {
        text-align: center;
    }
    #skills-organize-lists {
        flex-direction: column;
    }
}

/* ----------- PDF Button ------------- */
#open-as-pdf-div {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0em 10em 5em;
}

#open-as-pdf-button1:hover {
    color: var(--clr-light-purple) !important;
}

@media (min-width: 131em) {
    #open-as-pdf-div {
        padding-left: 28.5em;
    }
}
@media (max-width: 66em) {
    #open-as-pdf-div {
        padding: 0 3em 10em;
    }
}
@media (max-width: 50em) {
    #open-as-pdf-div {
        justify-content: center;
    }
}
