/* ----------- CV PAGE  ------------- */
#open-as-pdf-div1 {
    margin: 8em 0 0em;
}

#name {
    margin: 0em 0 15em;
    padding: 2em 10em 2em;
    background-color: var(--clr-mid-purple);
    display: flex;
    justify-content: space-between;
    max-height: 190px;
}

#actual-picture {
    transform: translateY(90px);
    min-width: 200px;
    min-height: 200px;
    padding-right: 10em;
}

#cv-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
    padding: 0 10em 10em;
    max-width: 1868px;
}

#skills-organize-lists {
    display: flex;
    gap: 3em;
}

#list-1,
#list-2 {
    padding: 0;
}

.cv-list-item {
    padding-left: 1em;
}

/* ----------- PDF Button & Contact Button ------------- */

#open-as-pdf-button1 {
    padding: 0;
}

#open-as-pdf-div {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0em 10em 5em;
}

#open-as-pdf-button1:hover {
    color: var(--clr-light-purple) !important;
}

#cv-contact-button-div {
    display: flex;
    justify-content: flex-start;
    padding: 0em 10em 5em;
}

/* ----------- MEDIA QUERIES ------------- */

@media (min-width: 155em) {
    #actual-picture {
        padding-right: 65em !important;
    }
}
@media (min-width: 127em) {
    #actual-picture {
        padding-right: 40em;
    }
}
@media (min-width: 102em) {
    #cv-grid,
    #name,
    #open-as-pdf-div,
    #cv-contact-button-div {
        padding-left: 35em;
    }
}
@media (max-width: 65em) {
    #cv-grid,
    #name,
    #open-as-pdf-div,
    #cv-contact-button-div {
        padding-right: 3em;
        padding-left: 3em;
    }
}
@media (max-width: 50em) {
    #cv-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    #name,
    #cv-grid {
        text-align: center;
    }
    #skills-organize-lists {
        flex-direction: column;
    }
    #name {
        flex-direction: column;
        align-items: center;
        margin-bottom: 9em;
    }

    #actual-picture {
        transform: translateY(10px);
        min-width: 150px;
        min-height: 150px;
        padding-right: 0em;
    }
}
@media (max-width: 50em) {
    #open-as-pdf-div {
        justify-content: center;
        padding-right: 3em;
        padding-left: 3em;
    }
}

/* ----------- MEDIA QUERIES -- CV Button------------- */

@media (max-width: 50em) {
    #cv-contact-button-div {
        display: flex;
        justify-content: center;
    }
    #cv-contact {
        margin: 0em 1em 5em;
        min-width: 450px;
    }
}

@media (max-width: 29em) {
    #cv-contact {
        min-width: 400px;
    }
    #open-as-pdf-div {
        justify-content: center;
        padding-right: 1.5em;
        padding-left: 1.5em;
    }
}
