/* ----------- HOME PAGE  ------------- */

/* ----------- RECENT WORK  ------------- */

#center-recent-work,
#center-quote-section,
#center-lets-connect-section {
    display: flex;
    justify-content: center;
}

#recent-work-homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* padding: 3em 10em 3em; */
    padding: 3em 0em 3em;
    gap: 4em;
}

.homepage-recent-work-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
    padding: 0.5em 2em 0.5em;
    transition: 0.3s;
}

.homepage-recent-work-button:hover {
    background-color: var(--clr-button-hover);
    border-radius: 8px;
}

.homepage-button-image {
    max-width: 378px;
    max-height: 240px;
    min-width: 378px;
    min-height: 240px;
    border-radius: 4px;
    object-fit: cover;
}

.button-text-alignment {
    text-align: right;
    min-width: 250px;
}

/* ----------- QUOTE & LETS CONNECT ------------- */

#quote,
#call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 0em 3em;
}

#large-gold-star,
#small-gold-star,
#medium-black-star {
    align-self: flex-start;
}

#testimonial,
#lets-connect-text {
    padding-bottom: 1em;
}

#large-gold-star,
#medium-gold-star,
#business-name,
#small-gold-star,
#medium-black-star,
#large-black-star {
    padding-bottom: 3em;
}

#medium-gold-star,
#business-name,
#large-black-star {
    align-self: flex-end;
}

.center-item {
    align-self: center;
}

#connect-button {
    margin-bottom: 3em;
}

/* ----------- SKILLS GRID  ------------- */

#skills-list-section {
    background: linear-gradient(
        var(--clr-skills-bottom),
        var(--clr-skills-top)
    );
    display: flex;
    justify-content: center;
}

#grid-title {
    padding-bottom: 1em;
}

#skills-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3em 0em 3em;
}

#skills-grid {
    display: grid;
    gap: 1.5rem;
    text-align: left;
    justify-content: center;
    align-content: start;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
}

ul {
    padding: 0;
}

#skills-grid li {
    padding: 0.5em;
}

#skills-grid li:hover {
    background: var(--clr-skills-highlight);
    border-radius: 0.3em;
}

@media (max-width: 44em) {
    #skills-list {
        padding: 3em 2em 3em;
    }
}

@media (max-width: 40em) {
    #skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 33em) {
    #skills-grid {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    #grid-title {
        align-self: center;
    }
}

/* --------- Lets Connect ---------- */

#call-to-action {
    width: 49em;
}

/* --------- MEDIA QUERIES ---------- */
@media (min-width: 102em) {
    .homepage-button-image {
        max-width: 650px;
        max-height: 300px;
        min-width: 650px;
        min-height: 300px;
    }
    .homepage-recent-work-button {
        gap: 15em;
        padding-right: 8em;
    }
}
@media (max-width: 65.75em) {
    .homepage-button-image {
        max-width: 200px;
        max-height: 150px;
        min-width: 200px;
        min-height: 150px;
    }
    .homepage-recent-work-button {
        gap: 1em;
    }
}

@media (max-width: 60em) {
    #quote,
    #call-to-action {
        padding: 0 10em 0;
    }
}
@media (max-width: 46em) {
    #quote,
    #call-to-action {
        padding: 0 3em 0;
    }
}

@media (max-width: 33em) {
    .homepage-recent-work-button {
        flex-direction: column;
        text-align: center;
    }
    #recent-work-homepage {
        gap: 2em;
        align-items: center;
    }
    .button-text-alignment {
        text-align: center;
    }
    #quote,
    #call-to-action {
        padding: 0 3em 0;
    }
}
