/* ----------- HOME PAGE  ------------- */

/* ----------- RECENT WORK  ------------- */

#center-recent-work,
#center-quote-section {
    display: flex;
    justify-content: center;
}

#recent-work-homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* padding: 3em 10em 3em; */
    padding: 3em 0em 3em;
    gap: 4em;
}

.homepage-recent-work-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
    padding: 0.5em 2em 0.5em;
    transition: 0.3s;
}

.homepage-recent-work-button:hover {
    background-color: var(--clr-button-hover);
    border-radius: 8px;
}

.homepage-button-image {
    max-width: 378px;
    max-height: 240px;
    min-width: 378px;
    min-height: 240px;
    border-radius: 4px;
    object-fit: cover;
}

.button-text-alignment {
    text-align: right;
    min-width: 250px;
}

/* ----------- QUOTE  ------------- */

#quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 0em 3em;
}

#large-gold-star,
#small-gold-star {
    align-self: flex-start;
}

#testimonial {
    padding-bottom: 1em;
}

#large-gold-star,
#medium-gold-star,
#business-name,
#small-gold-star {
    padding-bottom: 3em;
}

#medium-gold-star,
#business-name {
    align-self: flex-end;
}

/* --------- MEDIA QUERIES ---------- */
@media (min-width: 102em) {
    .homepage-button-image {
        max-width: 650px;
        max-height: 300px;
        min-width: 650px;
        min-height: 300px;
    }
    .homepage-recent-work-button {
        gap: 15em;
        padding-right: 8em;
    }
}
@media (max-width: 65.75em) {
    .homepage-button-image {
        max-width: 200px;
        max-height: 150px;
        min-width: 200px;
        min-height: 150px;
    }
    .homepage-recent-work-button {
        gap: 1em;
    }
}

@media (max-width: 60em) {
    #quote {
        padding: 0 10em 0;
    }
}
@media (max-width: 46em) {
    #quote {
        padding: 0 3em 0;
    }
}

@media (max-width: 33em) {
    .homepage-recent-work-button {
        flex-direction: column;
        text-align: center;
    }
    #recent-work-homepage {
        gap: 2em;
        align-items: center;
    }
    .button-text-alignment {
        text-align: center;
    }
    #quote {
        padding: 0 3em 0;
    }
}
